// ===
// Define all shared design variables here.
//
// Inside a Vue component <style>, you can
// import these variables with:
//
// @import '~@design-variables';
// ===

// LAYOUT
// Widths
$widths: (
  maxContentWidth: 50rem,
  minContentWidth: 25rem
);

@function width($key) {
  @if map-has-key($widths, $key) {
    @return map-get($widths, $key);
  }

  @warn "Unknown `#{$key}` in $widths.";

  @return null;
}

$grid-padding: 10px;

// TYPOGRAPHY
$sans-serif-font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$base-font-size: 14px;
$base-line-height: 1.5;
$base-text-color: #444;
$base-link-text-color: #4080d0;
$base-link-text-color-active: coral;

// BACKGROUNDS & TEXTURES
$body-bg: #f9f7f5;

// FORMS
$button-bg: green;
$button-text-color: white;

// stylelint-disable property-case, property-no-unknown
// For any SCSS variables you want to import into JavaScript,
// you must first export them here:
:export {
  contentwidthmax: width(maxContentWidth);
}
